@import url('./normalize.css');
@import url('./variables/_breakpoints.css');
@import url('./variables/_colors.css');
@import url('./variables/__variables.css');
@import url('./variables/__fonts.css');

* {
  box-sizing: border-box;
}

html,
#app {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  min-width: 320px;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  color: var(--main-black);
  font-family: var(--main-font-family);
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.layout-content {
  max-width: var(--max-width);
  width: 100%;
  margin: 0 30px;
  min-width: var(--min-width);
}

@media (min-width: 1200px) {
  .layout-content {
    margin: 0;
  }
}
